:root {
	--background-color-light: rgb(245, 245, 245);
	--background-color-dark: #252525;
	--color-light: rgb(204, 204, 204);
	--color-dark: #333;
	--highlight-color-light: white;
	--highlight-color-dark: black;
}
